<div class="container">
      <section id="explanation" class="width-two-thirds">

          <h3>About this Site</h3>
          <p>
            This data provides a window into how people are interacting with <a href="https://www.usa.gov/">USA.gov</a> and <a href="https://www.usa.gov/espanol/">USA.gov/espanol</a> online. The data comes from a unified Google Analytics account for U.S. federal government agencies known as the <a href="https://www.digitalgov.gov/services/dap/" class="external-link">Digital Analytics Program</a>. This program helps government agencies understand how people find, access, and use government services online. The program <a href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/#part-4" class="external-link">does not track individuals</a>, and <a href="https://support.google.com/analytics/answer/2763052?hl=en" class="external-link">anonymizes the IP addresses</a> of visitors.
          </p>

          <p>
            This dashboard is based on the analytics.usa.gov open source project. You can find the <a href="https://github.com/GSA/analytics.usa.gov" class="external-link">code for this website</a> and the <a href="https://github.com/18F/analytics-reporter" class="external-link">code behind the data collection</a> on GitHub.
          </p>
          <!--
          <p>
            We plan to expand the data made available here. If you have any suggestions, or spot any issues or bugs, please <a href="https://github.com/GSA/analytics.usa.gov/issues" class="external-link">open an issue on GitHub</a> or contact the <a href="mailto:DAP@support.digitalgov.gov" class="external-link">Digital Analytics Program</a>.
          </p>
          -->
      </section>
      <section class="width-one-third">
        <h3>Download the data</h3>
        <p>You can <a href="{{ site.baseurl }}{% if page.data-path %}/{{ page.data-path }}{% endif %}/data/">download the data here.</a> Available in JSON and CSV format.</p>
      </section>
</div>
